<!DOCTYPE html>
<head>
    {% include "_partials/head.html" %}
</head>
<body>

    <div id="loading-spinner" style="display:none;">Loading...</div>  <!-- 加载指示器 -->

    <div class="left-column">
        <header class="header">
            {% include "_partials/header.html" %}
        </header>
        <section class="intro">
            <img src="{{ get_url(path="images/aqoursoro_pat.png") }}" alt="Avatar" class="avatar">
        </section>

        <section class="content">
            <p>Be water my friend.</p>
            <p>当前语言: {{ lang }}</p>
        </section>
        <footer class="footer">
            {% include "_partials/footer.html" %}
        </footer>
    </div>
    <div class="right-column">
        <div class="nav-right">
            <nav>
                <ul>
                    <li><a id="home-btn" href="{{ config.base_url }}" onclick="loadContent('home', '{{ config.base_url }}'); return false;">{{ trans(key="home", lang=lang) }}</a></li>
                    <li><a id="blog-btn" href="{{ config.base_url }}/posts" onclick="loadContent('posts', '{{ config.base_url }}/posts'); return false;">{{ trans(key="blog", lang=lang) }}</a></li>
                    <li>
                        {% if lang == "en" %}
                            <a href="{{ get_url(path="cn/") }}">中文</a>
                        {% else %}
                            <a href="{{ get_url(path="") }}">English</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
        <main class="container">
            <section id="content-section" class="content">
                <h1 id="welcome-text">{{ trans(key="welcome", lang=lang) }}</h1>
                <p id="home-content">{{ trans(key="description", lang=lang) }}</p>
            </section>
        </main>
    </div>
    <script src="{{ get_url(path="js/main.js") }}"></script>
</body>
</html>
