<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_partials/head.html" %}
</head>
<body>
    <div class="left-column">
        <header class="header">
            {% include "_partials/header.html" %}
        </header>
        <section class="intro">
            <img src="{{ get_url(path="images/aqoursoro_pat.png") }}" alt="Avatar" class="avatar">
        </section>
        <section class="content">
            <p>Be water my friend.</p>
        </section>
        <footer class="footer">
            {% include "_partials/footer.html" %}
        </footer>
    </div>
    <div class="right-column">
        <div class="nav-right">
            <nav>
                <ul>
                    <li><a href="{{ config.base_url }}" onclick="loadContent('home', '{{ config.base_url }}'); return false;">Home</a></li>
                    <li><a href="{{ config.base_url }}/about" onclick="loadContent('about', '{{ config.base_url }}/about'); return false;">About</a></li>
                    <li><a href="{{ config.base_url }}/posts" onclick="loadContent('posts', '{{ config.base_url }}/posts'); return false;">Blog</a></li>
                    <li><a href="{{ config.base_url }}/contact" onclick="loadContent('contact', '{{ config.base_url }}/contact'); return false;">Contact</a></li>
                </ul>
            </nav>
        </div>
        <main class="container">
            <section id="content-section" class="content">
                <h2>Welcome to my blog!</h2>
                <p>Home page content goes here.</p>
            </section>
        </main>
    </div>
    <script src="{{ get_url(path="js/main.js") }}"></script>
</body>
</html>
