<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_partials/head.html" %}
</head>
<body>
    <header>
        {% include "_partials/header.html" %}
    </header>
    <main class="container">
        <h1>{{ section.title }}</h1>
        <ul>
            {% for page in section.pages %}
                <li class="post-item">
                    <a href="{{ page.permalink }}" class="post-title">{{ page.title }}</a>
                    <p class="post-summary">{{ page.summary }}</p>
                </li>
            {% else %}
                <li>No blog posts found</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        {% include "_partials/footer.html" %}
    </footer>
</body>
</html>

