<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_partials/head.html" %}
</head>
<body>
    <div class="left-column">
        <header class="header">
            {% include "_partials/header.html" %}
        </header>
        <section class="intro">
            <img src="{{ get_url(path="images/aqoursoro_pat.png") }}" alt="Avatar" class="avatar">
            <h1>{{ config.title }}</h1>
        </section>
        <footer class="footer">
            {% include "_partials/footer.html" %}
        </footer>
    </div>
    <div class="right-column">
        <div class="nav-right">
            <nav>
                <ul>
                    <li><a href="{{ config.base_url }}">Home</a></li>
                    <li><a href="{{ config.base_url }}/about">About</a></li>
                    <li><a href="{{ config.base_url }}/blog">Blog</a></li>
                    <li><a href="{{ config.base_url }}/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <main class="container">
            <section class="content">
                <h1>{{ page.title }}</h1>
                <div>
                    {{ page.content | safe }}
                </div>
            </section>
        </main>
    </div>
</body>
</html>
